.padding-top-7 {
    padding-top: 7rem;
}

nav a{
    cursor: pointer;
    
}


.custom-nav {
    background-color: rgba(33,33,33, 0.6);
    z-index: 10;
}

.bg-image {
    background-image: url("bgOP.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

























